:root {
  --text-color: #ffffff88;
  --hover-color: #ffffff66;
  --background-color: #000;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: var(--background-color);
  color: white;
}

div#simulation {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

div#sidebar {
  z-index: 1;
  width: 15vw;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  height: 55vh;
  padding: 15px;
  margin-right: 5vw;
  margin-left: 80vw;
  min-height: 530px;
  min-width: 280px;
}

button:hover {
  box-shadow: 0 0 15px white;
}

#checkbox-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}

#checkbox-input > p {
  width: 200%;
}

#input-container {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
}

h1 {
  margin-bottom: 50px;
  text-align: center;
}

p {
  font-weight: bold;
  font-size: 15px;
}

output {
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: center;
}

button {
  margin-top: 25px;
  width: 75%;
  height: 25px;
  background: white;
  border: none;
  border-radius: 25px;
  color: var(--background-color);
  font-weight: bold;
  font-size: 15px;
  margin-left: 12.5%;
  transition: 0.5s;
}

#warning {
  margin-top: 40px;
  color: red;
  font-style: italic;
  text-align: center;
}

canvas {
  position: absolute;
  aspect-ratio: 1/1;
  margin-left: 2vw;
}

#device-info {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  background-color: var(--background-color);
  font-family: sans-serif;
  margin-top: 350px;
}

.footer-icon > svg {
  transition: 0.25s;
}

.footer-icon > svg:hover {
  fill: var(--hover-color);
}

hr {
  width: 90vw;
  max-width: 1080px;
  margin: 0 5vw;
  opacity: 0.5;
  border-width: 1px;
  border-color: var(--hover-color);
}

#footer-link-container {
  display: flex;
  align-items: space-between;
  gap: 75px;
}

#footer-link-container > a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.1s;
  border: 2px solid var(--hover-color);
  border-radius: 8px;
  padding: 10px 15px;
  transition: 0.3s;
}

#footer-link-container > a:hover {
  text-decoration: none;
  color: var(--hover-color);
}

#copyright-text {
  color: var(--text-color);
  font-size: 16px;
  vertical-align: center;
  margin: 0;
  width: 170px;
  font-weight: lighter;
}

#footer-icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
  width: 170px;
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 6vw;
  padding: 40px 0;
  background: var(--background-color);
  width: 88vw;
  max-width: 900px;
  gap: 50px;
}

@media screen and (max-width: 1200px) {
  body {
    flex-direction: column;
    overflow-y: scroll;
    justify-content: space-between;
  }

  #device-info {
    display: flex;
    flex-direction: column;
    margin: 0 12.5vw;
    width: 75vw;
    align-items: center;
    justify-content: start;
    height: 75vh;
  }

  #device-info > p {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 75px;
    font-size: 25px;
    padding-bottom: 100px;
  }

  #device-info > img {
    width: 25vw;
    min-width: 250px;
    margin-top: 100px;
  }

  footer {
    padding-top: 50px;
  }

  #footer-container {
    margin: 0 10vw;
    width: 80vw;
  }

  div#simulation {
    display: none;
  }
}
